h2{
 
    background-color: #a12678;
   color: beige;
    text-align: center;
}


#a{ color: white;

    background-color:#2892d0 }
 #b{color: white;
     background-color:#209dd7}
 #c{ color: white;
    background-color:#57b4e6 }
#d{ color: white;
    background-color: #40bbe0; }


 #e{ color: white;
    background-color: #6bceec; }
#f{color: white;
    background-color: #77d6f3;  } 
#g{ color: white;
    background-color: #94d6f0;  }
#h{ color: white;
    background-color: #18b484  }
#i{color: white;
    background-color:  #ebc2d9; }
#j{ color: white;
    background-color:   #ebafd4;}
 #k{ color: white;
    background-color:  #d497b9;}

#l{color: white;
    background-color:  #dd85b6;}
 #m{color: white;
    background-color:  #d67bad; }
 #n{ color: white;
    background-color:    #c56b98;}
 #o{color: white;
    background-color:   #c7468d;}